{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post" class="w-4/12  mx-auto">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
			<h1 class="h3 mb-3 font-bold text-3xl">Bonjour !</h1>
			<p>Connectez-vous pour découvrir toutes nos fonctionnalités</p>
			<div class="mb-5">
				<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email *</label>
				<input type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
			</div>
			<div class="mb-5">
				<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe *</label>
				<input type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="_password" id="password" class="form-control" autocomplete="current-password" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">
				Sign in
			</button>
		</div>
	</form>
{% endblock %}
