<div{{attributes}}>
	{{ form_start(form) }}
	<div class="mb-6">
		{{form_label(form.title, 'Titre', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}})}}
		{{form_widget(form.title, {'placeholder' : 'test', 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}})}}
	</div>
	{% if form.subCategory is defined %}
		<div>
			{{form_label(form.subCategory, 'Sous-Catégorie', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}})}}
			{{form_widget(form.subCategory, {'placeholder' : 'test', 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}})}}
		</div>

	{% endif %}

	<div class="grid gap-6 mb-6 md:grid-cols-2">
		<div>
			{{form_label(form.price, 'Prix', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}})}}
			{{form_widget(form.price, {'placeholder' : 'test', 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}})}}
		</div>
		<div class="mb-6">
			{{form_label(form.description, 'Description', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}})}}
			{{form_widget(form.description, {'placeholder' : 'test', 'attr': {'class': 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}})}}
		</div>
		<div>
			{{form_label(form.city, 'Ville', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}})}}
			{{form_widget(form.city, {'placeholder' : 'test', 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}})}}
		</div>
		<div>
			{{form_label(form.zipCode, 'Code Postal', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}})}}
			{{form_widget(form.zipCode, {'placeholder' : 'test', 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}})}}
		</div>
	</div>
	<button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ button_label|default('Ajouter') }}</button>
	{{ form_end(form) }}

</div>
