{% extends 'base.html.twig' %}

{% block title %}Ad index
{% endblock %}

{% block body %}
	<a href="{{path('user_ad_new')}}">Déposer une annonce</a>
	<h1>Mes annonces</h1>


	{{form_start(form, {'attr' : {'class' : " flex w-7/12 mx-auto"}})}}
		<div class="relative">
			<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
				<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
				</svg>
			</div>
			{{ form_widget(form.search, {'attr' : {'class' : 'block w-max p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
		</div>

		{{ form_widget(form.subCategory, { 'attr' : { 'class' : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-4/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' } }) }}

		<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Rechercher</button>
	{{form_end(form)}}


	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Price</th>
				<th>CreateAt</th>
				<th>UpdateAt</th>
				<th>City</th>
				<th>ZipCode</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ad in ads %}
				<tr>
					<td>{{ ad.id }}</td>
					<td>{{ ad.title }}</td>
					<td>{{ ad.description }}</td>
					<td>{{ ad.price }}</td>
					<td>{{ ad.createAt ? ad.createAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ ad.updateAt ? ad.updateAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ ad.city }}</td>
					<td>{{ ad.zipCode }}</td>
					<td>
						<a href="{{ path('user_ad_show', {'id': ad.id}) }}">show</a>
						<a href="{{ path('user_ad_edit', {'id': ad.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{{ knp_pagination_render(ads) }}

	<a href="{{ path('user_ad_new') }}">Create new</a>
{% endblock %}
