{% extends 'base.html.twig' %}

{% block title %}Ad index
{% endblock %}

{% block body %}
	<a href="{{path('user_ad_new')}}">Déposer une annonce</a>
	<h1>Mes annonces</h1>


	<form class="max-w-lg mx-auto">
		<div class="flex">
			<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Rechercher</label>
			<div class="relative">
				<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
					<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
					</svg>
				</div>
				<input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required/>
			</div>

			<label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
			<button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">Catégories
				<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
				</svg>
			</button>
			<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
				<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
					{% for category in categories %}

						<p>{{ category.name }}</p>
						{% for subcategory in category.subcategories %}

							<li>
								<button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{subcategory.name}}</button>
							</li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
			<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Rechercher</button>

		</div>
	</form>


	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Price</th>
				<th>CreateAt</th>
				<th>UpdateAt</th>
				<th>City</th>
				<th>ZipCode</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ad in ads %}
				<tr>
					<td>{{ ad.id }}</td>
					<td>{{ ad.title }}</td>
					<td>{{ ad.description }}</td>
					<td>{{ ad.price }}</td>
					<td>{{ ad.createAt ? ad.createAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ ad.updateAt ? ad.updateAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ ad.city }}</td>
					<td>{{ ad.zipCode }}</td>
					<td>
						<a href="{{ path('user_ad_show', {'id': ad.id}) }}">show</a>
						<a href="{{ path('user_ad_edit', {'id': ad.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('user_ad_new') }}">Create new</a>
{% endblock %}
