{% extends 'base.html.twig' %}

{% block title %}Ad{% endblock %}

{% block body %}
    <h1>Ad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ad.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ad.price }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ ad.createAt ? ad.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ ad.updateAt ? ad.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ ad.city }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ ad.zipCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_ad_index') }}">back to list</a>

    <a href="{{ path('user_ad_edit', {'id': ad.id}) }}">edit</a>

    {{ include('user/user_ad/_delete_form.html.twig') }}
{% endblock %}
